<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <body>
        <h1>{{ title }}</h1>

    <nav>
	{% if current_user.is_authenticated %}
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
	<a href="{{ url_for('setup') }}">Setup<a/>
	<a href="{{ url_for('account') }}">Account<a/>
	<a href="{{ url_for('logout') }}">Logout<a/>
	{% else %}
	<a href="{{ url_for('register') }}">Register</a>
	<a href="{{ url_for('login') }}">Login<a/>
	<a href="{{ url_for('home') }}">Home</a>
	{% endif %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>

